/* PHASE 7: Online */
.online {
  /* display: block; */
  position: absolute;
  /* top: -10px;
  left: -10px; */
  color: white;
  letter-spacing: 3px;
  background: #0c0;
  text-transform: uppercase;
  transform: rotate(-45deg) translateX(-28px) translateY(-8px);
  padding: 5px 30px;
  font-size: 12px;
  box-shadow: 5px 3px 3px #070;
}